:root {
    --blue: #0163b4;
}
.admin table ul {
    margin-bottom: 0;
    padding-left: 0;
}
.admin table ul li{
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
}
.admin table ul li a.btn{
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 5px;
}
.admin table ul li::after{
    display: none;
}
.admin a.btn{
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.admin a.add{
    background-color: #74bb39;
}
.admin a.view{
    background-color: var(--blue);
}
.admin a.edit{
    background-color: orange;
}
.admin form .delete{
    background-color: red;
    height: auto;
    color: #fff;
    width: auto;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.2;
}
.admin form .cancel{
    padding: 9px 30px;
    margin-left: 10px;
}
.admin .input-group{
    margin-bottom: 10px;
}
.admin label{
    display: block;
}
.admin .form-label label{
    display: inline-block;
}
.admin img{
    max-width: 120px;
    margin-bottom: 10px;
}
.admin table img{
    max-width: 200px;
    max-height: 200px;
}
.admin form input[type="checkbox"]{
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
}
.dashboard .sliders, .dashboard .reviews{
    margin-top: 40px;
}
.icons {
    margin-bottom: 20px;
}
.icons .icon {
    position: relative;
    padding-left: 25px;
    width: 40%;
    display: inline-block;
    margin-bottom: 10px;
}
.icons .icon:before {
    content: '';
    background-color: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 2px;
}
.icons .icon2:before {
    background-color: orange;
}
.icons .icon3:before {
    background-color: green;
}
.icons .icon4:before {
    background-color: purple;
}
.icons .icon5:before {
    background-color: var(--blue);
}
.admin .modal-content .print, .admin .modal-content .download{
    display: inline-block;
    margin-right: 40px;
}
.admin .modal-content .print a, .admin .modal-content .download a{
    color: var(--blue);
    text-decoration: none;
}

.admin .modal-content .img{
    display: inline-block;
}
.admin .modal-content{
    margin-top: 0;
}
.admin .modal-content .img img{
    max-width: 200px;
    margin-right: 20px;
    border-radius: 10px;
}
.admin .modal-content .status .fa-regular{
    color: green;
}
.bottom ul{
    text-align: center;
    padding-left: 0;
}
.bottom ul li{
    display: inline-block;
    margin: 0 10px;
}
.bottom ul li a{
    color: #333;
    text-decoration: none;
}
.bottom ul li a i{
    color: var(--blue);
}
.mainhotels .add a{
    display: inline-block;
    background-color: #74bb39;
}
.admin .sidebar ul li a{
    border: none;
    background-color: #fff;
}
header .status.active, .bills .status{
    color: #74bb39;
}
header ul.lang{
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}
header ul.lang li{
    display: inline-block;
    margin: 0 5px;
}
header ul.lang li.current a{
    color: #0163b4;
}
header ul.lang li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
header .status{
    display: inline-block;
    margin-right: 100px;
}
#percent, #fix, #day_block{
    display: none;
}
ul.btns{
    padding-left: 0;
    padding-top: 10px;
}
ul.btns li{
    display: inline-block;
    margin-right: 5px;
}
ul.btns li.current a{
    background-color: var(--blue);
    color: #fff;
}
ul.btns li a{
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease;
}
ul.btns li a:hover{
    background-color: var(--blue);
    color: #fff;
}
body{
    font-family: "Fira Sans", sans-serif;
}
h1, h2, b, strong{
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
}
h3, h4{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}
h5{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}
header .logo img{
    max-width: 140px;
}
.bookings .stick{
    background-color: #74bb39;
    color: #fff;
}
.bookings .status i{
    color: #74bb39;
}