.servlisting .item{
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.hotel .include {
    color: #0163b4;
    opacity: 1;
}
.maps {
    margin-bottom: 60px;
}
body{
    background-color: #f5f5f5;
}
.rooms-item{
    background: #fff;
    padding: 10px 0 20px;
    border-radius: 10px;
    margin-top: 20px
}
.search{
    padding: 30px 0;
}

.hotel .early{
    font-size: 14px;
    opacity: .7;
}
.rooms .breakfast {
    background-color: #0163b4;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    opacity: 1;
}

.modal-backdrop.fade{
    opacity: 0;
    display: none;
}
.modal-content{
    width: 500px;
    margin-left: -250px;
}
.modal-header h3{
    margin-top: 0;
}
.hotel-item{
    margin: 40px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.book-popup{
    max-width: 450px;
    position: relative;
    margin: auto;
}
.hotel .servlisting{
    margin-top: 20px;
}